<% botresponses_box_before = "botresponses_box_before_" + (parent_id).to_s %>
<div class="botresponses_box_before row" id="<%= botresponses_box_before %>">
	<div class="col-10 row">
		<%= image_tag('chatbot.JPG', size: "25", class: "rounded-circle mr-3 ml-3 mt-2")%>
		<div class="botresponses_text">Bot Response</div>
	</div>
	<div class="col-2">
		<%= link_to 'Add', nodescreate_path(@bot.id, parent_id , "bot"), class: "btn btn-dark btn-sm", method: :post , remote: true, style: "height: 35px; margin-top: 5px;" %>
	</div>
</div>