<% triggerphrase_tag = 0%>
<div class="container" style="height: 50px; width: 300px; overflow-y: auto; overflow-x: hidden;">
	<% for phrase in Triggerphrase.where(bot_id: @bot.id)%>
	<% triggerphrase_tag = triggerphrase_tag + 1%>
		<span class="triggerphrase ml-1 mr-1 mt-4 mb-2">
			<span class= "triggerphrase_text ml-2 mr-1"><%= phrase.triggerphrase %></span>
			<span class="hide" id= <%= "triggerphrase_delete" + (phrase.id).to_s%>>
				<%= link_to image_tag('deleteicon.png', size: "10"), triggerphrasedelete_path(phrase.id,@bot.id), method: :delete ,remote: true, class: "mr-2"%>		
			</span>
		</span>			
	<% end %>
	<% if triggerphrase_tag == 0%>
		<div style="font-size: 12px;">
			No trigger phrases are added. <br> You can add by clicking the edit button.
		</div>
	<% end %>
</div>