<div class="ml-3 hide" id="triggerphrase_add_a_new_phrase">
	<%= form_with scope: :triggerphrase, url: triggerphrasecreate_path(@bot.id), method: :post, remote: true do |f| %>
    <span class="mx-auto text-center" style="width: 300px; " >
      <%= f.text_field :triggerphrase, id: "addtriggerphrasefield" ,class: "addtriggerphrasefield", placeholder: "Add a new phrase", remote: true%> 
    </span>
    <span class="form-group mx-auto text-center mt-4" style="width: 300px;">
      <%= f.submit "Add" ,value: "Add", class: "btn btn-sm btn-outline-success ml-2", remote: true%>
    </span>
  <% end %>
</div>