<div class="usermessage_before" id="triggerphrase_usermessage">
	<div class="Initial-Message-from-Customer">
		<span class="mr-4">Initial Message from Customer</span>
		<%= link_to image_tag('editiconblack.png', size: "14"),triggerphraseedit_path(@bot.id), id: "triggerphrase_edit_icon", remote: true, class: " ml-4"%>
		<%= link_to image_tag('tickicon.png', size: "14"), triggerphraseconfirm_path(@bot.id), id: "triggerphrase_tick_icon", remote: true, class: "hide ml-4"%>
	</div>
	<div class="card_divider mb-2"></div>
	<div id="triggerphrases_partial" class="triggerphrases_partial">
		<%= render 'home/edit/nodes/triggerphrases' %>
	</div>
	<div class="card_divider mb-1 mt-2 hide" id="triggerphrase_usermessage_second_card_divider"></div>
	<div>
		<%= render 'home/edit/nodes/triggerphrasesform' %>
	</div>
</div>