<%= render 'layouts/navbar_main'%>
<%= render 'layouts/navbar_navigation_composemessage'%>
<%= render 'layouts/messages'%>
<div style="overflow: auto;">
	<div class="container">
		<!-- main content -->
		<div class="row mt-4">
			<div class="rowheight_four col-12">
				<%= render 'home/edit/composemessage_main', parent_id: 0%>
			</div>
		</div>
	</div>
</div>