<% botmessagesmain_partial = "botmessagesmain_partial_" + (parent_id).to_s%>
<% usermessagemain_partial_with_connector = "usermessagemain_partial_with_connector_" + (parent_id).to_s%>

<div id="<%= botmessagesmain_partial %>">
	<%= render 'home/edit/nodes/botmessagesmain', parent_id: parent_id%>	
</div>

<div class="ml-3", id="<%= usermessagemain_partial_with_connector %>", style="margin-left: 0px;">
	<%= render 'home/edit/nodes/usermessagesmain_with_connector'%>	
</div>
