	<div class = "mb-4 mt-4">
		<h4>Bot Settings configured,</h4>	
		<h4>Now let's compose the messages.</h4>	
		<%= link_to 'Compose Messages', composemessage_path(@bot.id), class:"btn btn-success ml-0 mt-4" %>
	</div>	
