.formStyle {
  background-color: var(--background);
  padding: 20px; 
  width: 300px; 
  margin-bottom: 5px; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: black; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 1em;
  font-weight: 100;
  color: black;
  text-align: center;
}