<nav class="mynavbar bg-white">
  <div class="row mr-0">
    <div class="col-8">
      <ul class="steps">
        <li class="past" style="width: 20px;">
          <span>
            <strong>Steps</strong>
          </span>
        </li>
        
        <li class="present">
          <span>
            <%= link_to botsettings_path(@bot.id), class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">1. Bot Settings</div>
            <% end %>
          </span><i></i> 
        </li>  
        
        <li class="future">
          <span>
            <%= link_to composemessage_path(@bot.id), id: "compose_message_navbar_link",class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">2. Bot Flow</div>
            <% end %>
          </span><i></i>
        </li>
      </ul>
    </div>

    <div class="col-2">
      
    </div>
    <div class="col-2 pr-0">
      <div class="text-center navbar_content_height_activate">
        Activate
      </div>
    </div>
  </div>
</nav>